section#courses-details {
  @import "components/LectureHeader/LectureHeader";
  @import "components/Sidebar/Sidebar";

  .course--content {
    & {
      margin-bottom: 5rem;
      margin-left: 260px;
      margin-top: 60px + 16px;
    }

    .container {
      max-width: 960px;
    }
  }

  @include media-breakpoint-down("lg") {
    .course--content {
      & {
        margin-left: 0;
      }

      .container {
        max-width: none;
      }
    }
  }
}
