section.lecture-content {
  p > code {
    background-color: #f2f2f2;
    border-radius: $border-radius;
    font-size: 90%;
    padding: .1rem .4rem;
  }

  img {
    @extend .img-fluid;
  }

  pre {
    background-color: #f2f2f2;
    border-radius: $border-radius;
    font-size: 90%;
    padding: .5rem .8rem;
  }
}
