&.sm {
  & {
    background-color: $white;
    border-bottom: 1px solid #dfe3e7;
    box-shadow: $card-box-shadow;

    display: none;
    justify-content: flex-start;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    padding-left: 1rem;
    padding-right: 1rem;

    height: 60px;

    z-index: $zindex-fixed;
  }

  .sidebar-toggle {
    margin-right: .85rem;
  }

  .course-title {
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;

    margin-bottom: 0;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @include media-breakpoint-down("lg") {
    & {
      display: flex;
    }
  }
}
