div.sidebar {
  & {
    background-color: $body-bg;
    border-right: 1px solid #dfe3e7;

    position: fixed;
    bottom: 0;
    left: 0;
    top: 0;

    width: 260px;

    transition: all .25s ease-in-out;

    z-index: $zindex-fixed + 4;
  }

  .sidebar--brand {
    & {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      margin-bottom: 2rem;
      margin-top: .75rem;
      padding: .35rem 1.45rem .3rem 1.3rem;
    }

    img {
      margin-right: 1rem;

      width: 26px;
      height: 26px;
    }

    h2 {
      color: $primary;
      font-family: $font-family-monospace;
      font-weight: 600;
      margin-bottom: 0;
    }
  }

  .sidebar--heading {
    color: #bac0c7;
    font-size: .75rem;
    font-weight: 600;
    letter-spacing: 1px;

    margin-bottom: .5rem;
    margin-top: 1rem;
    padding: 0 1.5rem;

    text-transform: uppercase;
  }

  .sidebar--item {
    & {
      color: #8494a7;
      cursor: pointer;

      margin-bottom: .5rem;
      margin-left: .5rem;
      margin-right: .5rem;

      padding: .5rem 1rem;
    }

    &:hover, &.active {
      color: $primary;
      background-color: rgba($primary, .15);
      border-radius: $border-radius-lg;
    }

    a, a:link, a:visited {
      color: inherit;
    }
  }

  @include media-breakpoint-down("lg") {
    & {
      left: -265px;
    }

    &.expanded {
      & {
        left: 0;
      }
    }
  }
}

div.sidebar--backdrop {
  background-color: #000;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;

  opacity: .5;
  z-index: $zindex-fixed + 2;
}
